#!/usr/bin/make -f

RASPIOS_IMAGE = 2020-05-27-raspios-buster-lite-armhf.img

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Use already defined DEB_HOST_* variables.
include /usr/share/dpkg/architecture.mk

# Use already defined upstream version as DEB_VERSION_UPSTREAM.
include /usr/share/dpkg/pkg-info.mk

%:
	dh $@

override_dh_auto_build:
	./raspi provision $(RASPIOS_IMAGE)

override_dh_auto_install:
	# Dump the contents of RASPIOS_IMAGE into debian/tmp/opt/qt5-raspios-sysroot
	mkdir -p $(CURDIR)/debian/tmp/opt/
	./raspi extract 2020-05-27-raspios-buster-lite-armhf.img $(CURDIR)/debian/tmp/opt/qt5-raspios-sysroot

override_dh_strip:

override_dh_strip_nondeterminism:

override_dh_shlibdeps:

override_dh_builddeb:
	dh_builddeb -- -Zgzip
